<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/scooter.png" type="image/png">
    <title>No fluxo</title>
    <link rel="stylesheet" href="./main.css">
    <script type="text/javascript" src="../js/main.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@224&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div id="containerPai">
        <div class="container-mapa">

        </div>
        <!-- lal -->
        <!-- espaçamento -->
        <div id="container-motoristas">
            <button id="user1">
                <img src="../assets/driver (2).png">
                <h1>Marcos</h1>
                <h2>R$5</h2>
            </button>
            <button id="user2">
                <img src="../assets/taxi-driver.png">
                <h1>Antonio</h1>
                <h2>R$7</h2>
            </button>
            <button id="user3">
                <img src="../assets/driver (3).png">
                <h1>Eduardo</h1>
                <h2>R$4</h2>
            </button>
        </div>
    </div>

    <!-- daqui para baixo é a tela dois -->
    <div id="teladois">
        <p><strong>Marcos</strong></p>
        <div id="foto-motorista-tela-dois">
            <img src="../assets/driver.png">
        </div>
        <div id="foto-estrelas">
            <img src="../assets/star.png">
            <img src="../assets/star.png">
            <img src="../assets/star.png">
            <img src="../assets/star.png">
            <img src="../assets/star.png">
        </div>
        <div id="tempo-de-ida-ao-passageiro">
            <p>Te busca as "15:00"</p>
        </div>
        <br>
        <div id="botões-de-cancelar-e-preço">
            <button id="Cancelar">Cancelar</button>
            <button id="Preço">R$ 5,00</button>
        </div>
    </div>


    <div id="telatres">
            <p><Strong>Formas de pagamento</Strong></p>
        <div id="buttontelatres">
                <button id="bt1">Pix</button>
                <button id="bt2">Credito</button>
                <button id="bt3">Debito</button>
                <button id="bt4">Dinheiro</button>
                <button id="cancelartelatres">
                    <strong>Cancelar</strong>
                </button>
        </div>
    </div>
</body>

</html>